<!DOCTYPE html>
<html>
	<head>
		<title>Currently Viewing App</title>
	</head>
	<body>
		{{> header }}
		<div class="container">
			<h2> List of IP Addresses viewing this site </h2>
			{{ #client_records }}
			  <p>{{ ip_address }}</p>
			{{ /client_records }}
		</div>
		{{> footer }}
	</body>
</html>
