<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
        <ul id = "devices-list"></ul>
    </div>
    <script src = "/bower_components/socket.io-client/socket.io.js"></script>
    <script src = "/javascripts/main.js"></script>
    <script src = "/javascripts/controller.js"></script>
    <script src = "/javascripts/ws-connection.js"></script>

</body>
</html>
