<div class="table-responsive">

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>IP</th>
    </tr>
    </thead>
    <tbody>
    {{#each connections}}
      <tr>
        <td>{{ip}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

