html, center {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: calc(100% - 15px);
    margin: 0;
    padding: 0;
}
body {
	background-color: #a6bdbd;
	font-family: 'Roboto Mono', monospace;
	scroll-behavior: none;
}
ul {
  list-style-type: none;
  padding: 25px;
  margin: 0;
}

.maindiv > h1 {
	text-align: center;
}
.maindiv {
	width: 400px;
	display: block;
	overflow: auto;
	margin: 10px 0px;
	display: block;
	border: solid 1px #c0cad8;
	border-radius: 10px;
	background-color: #ade1ff;
	text-align: left;
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	scroll-behavior: unset;
}
.maindiv i {
	margin: 0px 10px;

}

.itsme {
	color: red;
	font-weight: bold;
}

.maindiv  li {
	border: none;
 color: #2b4877;
 margin: 10px 0px;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 font-family: Verdana;
 width: auto;
 height: auto;
 padding: 10px 40px;
 box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955;
 -moz-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955;
 -webkit-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955;
 text-shadow: 0 1px 0 #48576D;
 background-color: #cfe0fc;
}

.itsme:after {
	content: "<--- This is you!";
	
}