@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 900;
  src: local('Kanit Black'), local('Kanit-Black'), url(https://fonts.gstatic.com/s/kanit/v1/hI5anSXkFywu--PSyNnyd_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
